AlarmClient/Connected Services/AlarmService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlarmService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/IzingaWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlarmService_GetAlarms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarms" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_GetAlarms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_PostAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:PostAlarm" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_PostAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostAlarmResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlarmService">
    <wsdl:operation name="GetAlarms">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/GetAlarms" message="tns:IAlarmService_GetAlarms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/GetAlarmsResponse" message="tns:IAlarmService_GetAlarms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/PostAlarm" message="tns:IAlarmService_PostAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/PostAlarmResponse" message="tns:IAlarmService_PostAlarm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlarmService" type="tns:IAlarmService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlarms">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/GetAlarms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostAlarm">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/PostAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlarmService">
    <wsdl:port name="BasicHttpBinding_IAlarmService" binding="tns:BasicHttpBinding_IAlarmService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/IzingaWebService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>