AlarmClient/Connected Services/AlarmService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/IzingaWebService" />
  <xs:element name="GetAlarms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IzingaWebService" minOccurs="0" name="GetAlarmsResult" nillable="true" type="q1:ArrayOfAlarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IzingaWebService" minOccurs="0" name="a" nillable="true" type="q2:Alarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostAlarmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>